body{
  background-color: azure;
}


.Title{
  text-align: center;
}

.btn{
  margin-top: -5%;
  margin-left: 90.9%;
}

#click_btn{
  border: none;
  border-radius: 5px;
  padding: 4% 5.7%;
  color :white;
  background-color: black;

}

.space{
  width: 4px;
  height: auto;
  display: inline-block;
}

.Table{
  margin-top: 2.2%;
  width: 100%;
}

table, td, th{
  border: 2px solid white;
  background-color: rgb(38, 228, 228);
  text-align: center;
}

td{
  background-color: rgb(198, 255, 255);
  height: 40px;
}

#option_value{
  display: inline-block;
  padding: 0px 3px;
}

input{
  padding: 1%;
  margin:2%;
}

.grade-f {
  color: red;
}

.grade_title{
  margin-top: 7%;
}

