.Title{
  text-align: center;
}

.btn{
  margin-top: -5%;
  margin-left: 60%;
}

.space{
  width: 4px;
  height: auto;
  display: inline-block;
}

.Table{
  margin-left:auto; 
  margin-right:auto;
  margin-top: 3%;
}

table, td, th{
  border: 2px solid white;
  background-color: rgb(38, 228, 228);
}

td{
  background-color: rgb(198, 255, 255);
}

#option_value{
  display: inline-block;
  padding: 0px 3px;
}

input{
  padding: 1%;
  margin:2%;
}

.grade-f {
  color: red;
}

.grade_title{
  margin-top: 6%;
  margin-left: 31%;
}

